@{
    Layout = "~/Areas/Administrator/Views/Templates/_LayoutPage.cshtml";
}
<div>
    <div class="widget">
        <div class="widget-header"> <i class="icon-bookmark"></i>
            <h3>Main module</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <div class="shortcuts">
                <a href="/admin/Product/Index" class="shortcut">
                    <i class="shortcut-icon icon-certificate"></i>
                    <span class="shortcut-label">Product</span>
                </a>
                <a href="/admin/Hotel/Index" class="shortcut">
                    <i class="shortcut-icon icon-home"></i>
                    <span class="shortcut-label">Company</span>
                </a>
                @*<a href="/admin/HotelInfo/Index" class="shortcut">
                    <i class="shortcut-icon  icon-info-sign"></i>
                    <span class="shortcut-label">Info hotel</span>
                </a>*@
                <a href="//admin/menu/MainMenu" class="shortcut">
                    <i class="shortcut-icon icon-list"></i>
                    <span class="shortcut-label">Danh mục chính</span>
                </a>
                <a href="/admin/Article/Index" class="shortcut">
                    <i class="shortcut-icon icon-book"></i>
                    <span class="shortcut-label">Bài viết</span>
                </a>

            </div>
            <!-- /shortcuts --> 
        </div>
        <!-- /widget-content --> 
    </div>

</div>

<!-- /span6 -->

