[*.cs]

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = none

# CS0164: This label has not been referenced
dotnet_diagnostic.CS0164.severity = none

# CS0253: Possible unintended reference comparison; right hand side needs cast
dotnet_diagnostic.CS0253.severity = none
